footer {
    width: 100%;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerBackground {
    width: 1000px;
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
}

.footer-info {
    display: flex;
}


.footer-info-logo {
    display: flex;
    flex-direction: column;
}



.footer-info-logo > img {
    width: 100px;
    margin: 1rem;
}

.contact-footer{
    display: flex;
    margin: 1rem;
}

#phone-footer {
    color: white;
    margin: 0 1rem;
}

.menu-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    margin-top: 3rem;
}

footer > hr {
    width: 100%;
    border: 1px solid #5F5F5F;
}

.menu-footer > p, h4 {
    margin: 7px 0;
    color: white;
}

.footer-insta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.footer-insta > h5 {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-left: 6rem;
}

.footer-insta-img {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    align-content: center;
 }
 
 .copyright {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .copyright, .footer-info-logo > p {
    color: white;
 }

 #hot-menu {
    color: white;
 }


