
header {
  background-color: #CE2829;
  background-size: cover;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}


img{
  width: 25%;
  margin-top: auto;
}