section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FAF7F2;
    align-items: center;
}

.mainDiv {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.div1 {
    margin-top: 1rem;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}


.div1-1{
    display: flex;
    gap: 25px;
    align-items: center;

}

#div1-1{
    width: 1px;
}


.div2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px 0;
    gap: 30px
}

.div2-1 {
    height: 430px;
    width: 500px;
    background-image: url("../Assets/adv-aseets/kart-1.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.div2-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px
}

.div2-2-1 {
    height: 200px;
    background-image: url("../Assets/adv-aseets/kart-2.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 500px;
}

.div2-2-2 {
    height: 200px;
    background-image: url("../Assets/adv-aseets/kart-3.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 500px;
}

.div3 {
    display: flex;
    flex-direction: column;
}

.div4 {
    width: 1000px;
    display: flex;
    justify-content: space-between;
   }

.rounded-icons {
    display: flex;
    justify-content: center; 
    gap: 15px;
    border-radius: 100px;
    width: 180px;
    background-color:white;
}

#rounded-icon-pizza {
    background-color: #292929;
}

#rounded-icon-pizza > p {
    color: rgb(255, 255, 255);
}


.div5 {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}
.div5-1, .div5-2, .div5-3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    align-items: center;
    gap: 1rem;
}

#div5-img {
    width: 200px;
}

.div5-pizza-names {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
}

.pizza-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#homepage-button {
    background-color:#ffffff;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    color:  #ce2829;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

}

#card1-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin: 2rem 0 0 2rem;
}

#red-coook{
    color: #ce2829;
}

#black-npm {
    color: black;
}

#mini-rating {
    font-size: small;
}

#main-cursive{
    font-family: cursive;
    color:  #ce2829;
}