.form-page {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#pizza-form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 30px; 
}

.dough {
    width: 600px;
    display: flex;
    flex-direction: row;
}

#dough-size {
    flex-grow: 1;
}

#dough-thickness {
    flex-grow: 1;
}

.extra-toppings {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    align-items: flex-end;
}

.extras {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 150px;
    margin: 10px 0;
}


.name-container {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.order-note {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.counter-submit {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.counter-container {
    display: flex;
    flex-grow: 1;
}

#increment-button {
    background-color:#FAF7F2;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: 5vh;
}

#decrement-button {
    background-color:#FAF7F2;
    border: none;
    color: rgb(1, 1, 1);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: 5vh;
}

#order-button {
    background-color:#FDC913;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    height: 5vh;
    width: 100%;
}

#quantity {
    background-color:#FAF7F2;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    height: 2.2vh;
}


.submit-container {
    border: none;
    border-radius: 5px;
    background-color: #FAF7F2;
    color: black;
    flex-grow: 4;
}

#siparisToplami{
    padding: 18px;
}

#name-input {
    width: 578px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FAF7F2;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
}

#order-note {
    width: 578px;
    margin-top: 10px;
    padding: 10px;
    background-color: #FAF7F2;
    border: none;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
}

.invisible {
    display: none;
  }


  .container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    padding: 13px 0 0 55px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: #FAF7F2;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #fbe1c0;
  }


  .container input:checked ~ .checkmark {
    background-color:#FDC913;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 15px;
    top: 7px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .radioButton-container{
    display: flex;
    gap: 25px;
  }

  .containerRB {
    display: block;
    position: relative;
    padding: 12px 0 0 17px;
    margin: 12px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .containerRB input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmarkRB {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: #FAF7F2;
    border-radius: 50%;
  }


  .containerRB:hover input ~ .checkmarkRB {
    background-color:#fbe1c0;
  }
 

  .containerRB input:checked ~ .checkmarkRB {
    background-color: #FDC913;
  }

  #checkmarkRB1:before {
    content: "S";
    position: relative;
    z-index: 1
  }

  #checkmarkRB2:before {
    content: "M";
    position: relative;
    z-index: 1
  }

  #checkmarkRB3:before {
    content: "L";
    position: relative;
    z-index: 1
  }

